
:root{
    --font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}


main{
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-color: rgb(208, 208, 208);
    min-height: 100svh;
    font-family: var(--font-family);
}

svg{
    width: 1.5rem;
    height: 1.5rem;
}

aside.leftAside{
    background-color: rgb(0, 132, 181);
    display: grid;
    grid-template-rows: 1fr 8fr;
    padding: 1rem;
    gap: 2rem;
}

.leftAside .navs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.navs li {
    font-size: 0.85rem;
}

.navs  > li:nth-child(6){
    margin-bottom: 2rem;
}

.leftAside .navs > li{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.75rem;
    color: white;
    font-weight: 600;
}



.navs > li > svg{
    width: 1.5rem;
   fill: white;
}

.logo{
    display: flex;
    gap: 1rem;
    justify-content: start;
    align-items: center;
}

.logo > img{
    width: 2rem;
    height: 2rem;
}

.logo > p{
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
}

.container{
    background-color: lavenderblush;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 9fr;
}
header{
    background-color: white;
    box-shadow: 0px 4px 2px rgba(255, 255, 255, 0.50);
}

.upperNav, .bottomNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.bottomLeft{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.bottomRight{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.bottomRight > button {
    background-color: rgb(0, 132, 181);
    border-radius: 2rem;
    padding: 0.75rem 2rem;
    border: none;
    color: white;
    font-weight: 800;
}

.navRight{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 20%;
}

header nav .search > input[type='search']{
    border: none;
    padding: 0.75rem;
    background-color: rgb(234, 234, 234);
    border-radius: 2rem;
    width: 100%;
    grid-area: 'input';
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 60%;
}

.profilePicture{
    background-image: url('https://plus.unsplash.com/premium_photo-1739931374888-ba85cffbc8be?q=80&w=648&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    width: 3rem;
    height: 3rem;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
}

.content{
   display: grid;
   grid-template-columns: 9fr 3fr;
   background-color: yellow;
}

.contentGrid{
    background-color: rgb(240, 240, 240);
    padding: 1rem;
}

.contentGrid h2{
    margin-bottom: 2rem;
}

.contentGridLayout{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    gap: 1rem;
}



.contentGridLayout .contentItem{
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    border-left: 4px solid rgb(255, 234, 0);
    background-color: white;
    box-shadow: 4px 4px 8px rgba(218, 218, 218, 0.5);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contentItem div{
    display: flex;
    align-items: center;
    gap: 1rem;
    align-self: flex-end;
}

.contentAside{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-right: 2rem;
    background-color: rgb(240, 240, 240);
    gap: 3rem;
}

.contentAside h2{
    margin-bottom: 1rem;
}

.contentA, .contentT{
    padding: 1rem;
    background-color: white;
    box-shadow: 4px 4px 8px rgba(218, 218, 218, 0.5);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contentAItems{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}

.contentA .contentAItems:last-child{
    border: none;
}

.contentTItems{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contentTProfile{
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background-color: rgb(170, 42, 42);
}


